{:kotoba.app/id "cloud.itonami.isic-3512", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreig6alvsnzrzlt3js3qc5mnophtcahgmwndwljejj2sm2segou5dke", :kotoba.app/embed-url "ipfs://bafkreig6alvsnzrzlt3js3qc5mnophtcahgmwndwljejj2sm2segou5dke", :published {:archive "https://kotobase.net/ipfs/bafkreig6alvsnzrzlt3js3qc5mnophtcahgmwndwljejj2sm2segou5dke", :size 75320, :put-status 201, :get-status 200, :at "2026-08-15T13:55:35.959Z"}}
